/*
this imports a css reset

a css reset is a stylesheet that applies rules
such that the "default styles" of every major
browser are identical
*/
@import "@unocss/reset/tailwind-compat.css";

/* give links a blue color, and underline them */
a {
  color: #0d74ce;
}

/* when the links are hovered, change them to a lighter blue */
a:hover {
  color: #0588f0;
}

/* give headings and form labels a default color that is dark and has strong contrast against the background */
:is(h1, h2, h3, h4, h5, h6, label) {
  color: #202020;
}

/* give text a default color that is ligher than headings. it still has enough contrast to be legible, but looks visually less important */
:is(p, li) {
  color: #646464;
}

/* logout button styling */
.button__logout{
  margin: 0.4px;
  width: 6rem;
  background-color: #1515eb;
  -webkit-text-fill-color: #fefeff;
  
}

/* login buttons, choose which site to login to styling */
.button__login{
  margin: 0.4px;
  width: 12rem;
  background-color: #fefeff;
  -webkit-text-fill-color: #3e71dc;
  margin: 0.4rem 1rem 0.4rem 1rem;
}

.button__login:hover {
  background-color: #3e71dc;
  -webkit-text-fill-color: #fefeff;
}

/* styling for login page contains ".sign-in" */
.sign-in__login-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.sign-in__form {
  padding: 1rem;
  height: 36rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fefeff;
  border: none;
  box-shadow: 0px 0px 12px 0.8px #8682ce;
  border-radius: 1rem;
  margin: 2rem;
}

.sign-in__form {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.sign-in__pageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
}

.sign-in__container {
  overflow: hidden;
  height: 92vh;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  display: flex;
  justify-content: center;
}

.sign-in__form :is(input, button) {
  line-height: 2rem;
  padding-inline: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #ececec;
  margin-left: 0.5rem;
  color: #202020;
}